.container
  %h3 Confirmation email sent!
  %p
    We have sent you a confirmation email to verify your email address. Click the verification link to verify your account.

  %p
    = link_to 'Click here', resend_email_confirm_path
    to resend the email.
