%p Hi #{@user.display_name},
%p Thanks for registering for an account on EthicalTree!
%br
%p Here is your confirmation token:
%p= @user.confirm_token
%br
%p Sincerely,
%p The EthicalTree Team
