%p Hi #{@user.display_name},
%p You recently requested to reset your password. No need to worry, we can help you set up a new password in no time!
%br
%p To reset your password, click on the link below:
%br
%p= @user.forgot_password_link
%br
%p Sincerely,
%p The EthicalTree Team
