.container
  .col-md-12.col-md-offset-1.col-sm-8.col-sm-offset-2.col-xs-12
    %h2 Ethical Tree
    %p We are currently working on the next version of EthicalTree. Sit tight!

    // = react_component 'App', app: 'willy'
