<p>Hello EthicalTree peeps!</p>

<br>

<p>A new listing has been created:</p>

<ul>
  <li><b>Title</b>: <%= @listing.title %></li>
  <li><b>Link</b>: <%= Links.listing(@listing) %></li>
</ul>

<br>

<p>Sincerely,</p>
<p>EthicalTree</p>

