- if flash.present?
  #flash_alerts

    - %i{notice error info}.each do |kind|
      - if flash[kind].present?
        - css_kind = 'alert-info' if kind.to_s == 'notice'
        - css_kind = 'alert-danger' if kind.to_s == 'error'
        .alert-app.alert{class: css_kind}
          = flash[kind].html_safe
          %button{type: 'button', class: 'close', data: {dismiss: 'alert'}} &times;

  :javascript
    $(function() {
      setTimeout(function() { $(".alert-app").alert('close'); }, 5000);
    });